---
import Layout from '../layouts/Layout.astro';
import invector from '../content/invector/imgs/invector.webp';
import { getCollection } from 'astro:content';
import type { Category } from '../consts/variables'
import FilterablePosts from '../components/FilterablePosts.tsx';
import type { CardProps } from '../consts/variables';

const posts = await getCollection('post');
const result = [...posts, {
  id: 'invector'
}]
const getCategories = () => {
  const categoryMap: Category[] = [];
  posts.forEach(post => {
    const matchedCategory = categoryMap.find(category => category.id == post.data.category.id);
    if (matchedCategory) {
      matchedCategory.count++;
    } else {
      categoryMap.push({ name: post.data.category.name, count: 1, id: post.data.category.id });
    }
  });
  
  return categoryMap;
}

const getAllPosts = (): CardProps[] => {
  let allPosts: CardProps[] = [];
  allPosts.push({
    title: 'Invector',
    description: 'TPSコントローラー',
    thumbnail: invector.src,
    slug: 'invector',
    category: { id: 'controller', name: 'キャラ操作' }
  });
  posts.forEach(post => {
    allPosts.push({
      title: post.data.title,
      description: post.data.description,
      thumbnail: post.data.thumbnail.src,
      slug: post.slug,
      category: post.data.category
    });
  });

  return allPosts;
}
---

<Layout>
	<div class="row">
    <div class="col">
      <span>記事一覧</span>
      <button class="btn btn-primary" 
        type="button"
        data-bs-toggle="offcanvas" 
        data-bs-target="#offcanvas"
        aria-controls="offcanvas">
        フィルター
      </button>
    </div>
  </div>
  <div class="row">
    <FilterablePosts posts={getAllPosts()} client:load />
  </div>
</Layout>