---
import { language } from "../consts/message";
import { Image } from "astro:assets";
interface CardProps {
  title: string;
  description: string;
  thumbnail: {
      src: string;
      width: number;
      height: number;
      format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
  };
  href: string;
}
const { title, description, thumbnail, href } = Astro.props;
---

<div class="card mb-3">
  <Image src={thumbnail} alt={description} class="card-img-top object-fit-cover" style="max-height: 9rem;" />
  <div class="card-body">
    <h5 class="card-title">{ title }</h5>
    <p class="card-text">{ description }</p>
    <a href={href} class="btn btn-primary">{ language.SHOW_POST }</a>
  </div>
</div>