---
import { language } from "../consts/message";
import { Image } from "astro:assets";
import TagBadge from "./TagBadge.astro";
import { getCategoryName } from "../consts/variables";
interface Props {
  title: string;
  description: string;
  thumbnail: {
      src: string;
      width: number;
      height: number;
      format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
  };
  href: string;
  categoryId: string;
  tags: string[] | undefined;
}
const { title, description, thumbnail, href, tags, categoryId } = Astro.props;
---

<div class="card mb-3">
  <Image src={thumbnail} alt={description} class="card-img-top object-fit-cover" style="max-height: 9rem;" />
  <div class="card-body">
    <h5 class="card-title">{ title }</h5>
    <p class="card-text">{ description }</p>
    <a href={href} class="btn btn-primary">{ language.SHOW_POST }</a>
  </div>
  <div class="card-footer">
    <span class="rounded-pill badge text-bg-dark">{ getCategoryName(categoryId) }</span>
    {
      tags !== undefined
      ? tags.map(tag => (
        <TagBadge tagId={tag} />
      ))
      : <></>
    }
  </div>
</div>