---
import { language } from "../consts/message"
import type { Category } from "../consts/variables";
interface Props {
  categories: Category[];
}
const { categories } = Astro.props;
---

<div class="offcanvas offcanvas-start show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Off canvas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-group">
      {
        categories.map(category => (
          <li class="list-group-item d-flex align-items-center">
            <input 
              type="checkbox" 
              class="form-check-input me-1"
              value=""
              id={category.name} 
            />
            <label for={category.name} class="form-check-label">{ category.name }</label>
            <span class="badge bg-primary rounded-pill ms-auto"> { category.count } </span>
          </li>
        ))
      }
    </ul>
  </div>
</div>